extends ./layout
block bodyContainer
  .homePage(ng-controller='HomePageController')
    include ./nav
    header.headerContainer
      h3.text-center Albi
      img(src='#{IMG_URL("/pic/raise.png")}')
  
  
  - importer.import('/js/home.js');
  - importer.import('/css/home.css');
