extends ./layout
block bodyContainer
  a(href=URL("/"), style='position:absolute;right:0;top:0')
    img(src=IMG_URL("/img/forkme.png"))
  #rootContainer

  - importer.import('/css/main-header.css', '/css/main-nav.css');

