extends ./layout
block bodyContainer
  #rootContainer

  - importer.import('/css/main-header.css');
  //- #rootContainer.homePage
  //-   a(href=URL("/"), style='position:absolute;right:0;top:0')
  //-     img(src=IMG_URL("/img/forkme.png"))
