extends ./layout
block bodyContainer
  .homePage(ng-controller='HomePageController')
    include ./nav
    header.headerContainer
      ul.pull-right.functions
        li.login: a(href='javascript:;', ng-click='app.login()') 登录
        li.register: a(href='javascript:;', ng-click='app.register()') 注册
      .searchContainer.input-group
        .input-group-addon: i.glyphicon.glyphicon-search
        input.form-control(type='text', placeholder='keyword')

  
  
  - importer.import('/js/home.js');
  - importer.import('/css/home.css');