doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='alib,koa,framework')
    meta(name='description', content='framework base on koa 2.x')
    meta(name='author',content='Tree.Xie')
    title #{title}
    include ./inlinejs
    //CSS_FILES_CONTAINER
  - importer.import('/bundle/vendor.js', '/bundle/react-base.js')
  - importer.import('/bundle/material.js')
  - importer.import('/bundle/utils.js')
  - importer.import('/bundle/base-css.js')
    script.
      TIMING.start('page');
      TIMING.start('html');
  body
    block bodyContainer
  script.
    TIMING.end('html');
    TIMING.start('js');
  //JS_FILES_CONTAINER
  script.
    TIMING.end('js');