doctype html
html(lang='zh-CN')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="HandheldFriendly", content="True")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		meta(http-equiv="cleartype", content="on")
		meta(name='keywords', content='')
		meta(name='description', content='')
		meta(name='author',content='小墨鱼 vicanso 腻味 tree')
		link(rel='icon', href=IMG_URL("/img/favicon.ico"))
		title #{title}
		include ./inlinejs
		//CSS_FILES_CONTAINER
		- importer.import('/css/pure.css', '/css/highlight.css', '/css/albi.css')
		if ENV === 'development' || DEBUG
			- importer.import('/jspm/packages/system.js', '/jspm/config.js')
		else 
			- importer.import('/jspm/bundles/bootstrap.js')
	body
		block bodyContainer

	include ./globals

	script.
		TIMING.end('html')
		TIMING.start('js')
	//JS_FILES_CONTAINER
	script.
		TIMING.end('js')
		if (CONFIG.env === 'development' || CONFIG.debug) {
			System.import(CONFIG.staticUrlPrefix + '/jspm/bootstrap.js')
		} 
		
