nav.navContainer
  ul
    li: a.text-center.logo(href='javascript:;', title='TimTam'): i.glyphicon.glyphicon-align-left
    li: a.text-center(href='javascript:;'): i.glyphicons.glyphicons-wifi
    li: a.text-center(href='javascript:;'): i.glyphicons.glyphicons-wifi
    li: a.text-center(href='javascript:;'): i.glyphicons.glyphicons-wifi
    li: a.text-center(href='javascript:;'): i.glyphicons.glyphicons-wifi
- importer.import('/css/nav.css');
