nav.navContainer
  ul
    li: a.text-center.logo(href='javascript:;', title='albi'): i.glyphicon.glyphicon-align-left
    li: a.text-center(href='javascript:;'): i.glyphicon.glyphicon-heart
    li: a.text-center(href='javascript:;'): i.glyphicon.glyphicon-search
    li: a.text-center(href='javascript:;'): i.glyphicon.glyphicon-adjust
    li: a.text-center(href='javascript:;'): i.glyphicon.glyphicon-resize-full
- importer.import('/css/nav.css');