@import './constant'

.docPage
	.docContent
		margin 0 80px
		
		h1, h2, h3
			font-weight 100
			color #4b4b4b
			margin 10px 0
			text-align center
		h1
			font-size 300%
		h2
			font-size 200%
		h3
			font-size 150%
		
		hr
			margin 25px 0
			height 1px
			border none
			border-top 1px solid #eee
		em
			background-color #f8f8f8
			margin 0 3px
			padding 0 3px
			color #3b8bba
		
		ul
			padding-left 20px
			
			
	 