*
  box-sizing border-box
  &:before, &:after
    box-sizing border-box
.clearfix:before, .clearfix:after
  display table
  content " "
.clearfix:after
  clear both
  
body
  color #333
  font-size 16px
  line-height 1.6
  font-weight 100
  letter-spacing 0.01em
  font-family Helvetica, Arial, sans-serif

a
  color #3b8bba
  text-decoration none
  &:visited
    color #265778
