*
  box-sizing border-box
  &:before, &:after
    box-sizing border-box
.clearfix:before, .clearfix:after
  display table
  content " "
.clearfix:after
  clear both
  
body
  font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height 1.4em
  background #f5f5f5
  color #4d4d4d
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight 300

input, .pure-form input[type="text"], .pure-form input[type="password"]
  font-size 13px
  border-radius 4px
  box-shadow inset 0 2px 2px #e9e9e9
  border 1px solid #aeaeae
  line-height 16px
  padding 6px 10px 5px
  &:focus
    outline none
    border-color #aeaeae
    box-shadow inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, 0.3)

a
  color #3b8bba
  text-decoration none
  &:visited, &:hover
    color #265778
.tac
  text-align center
.pullRight
  float right
.mleft5
  margin-left 5px
.mright5
  margin-right 5px
.margin10
  margin-right 10px

@import './widget'
