@import './constant'

#navLink
	display none
	position fixed
	left 0
	top 0
	background rgba(0,0,0,0.7)
	text-align center
	font-size 24px
	line-height 1.8em
	width 1.8em
	color #fff
	&.active
		left $NAV_WIDTH
		transition left 0.3s
	@media (max-width:760px)
		display block

.navContainer
	width $NAV_WIDTH
	position fixed
	left 0
	top 0
	bottom 0
	background-color #191818
	overflow-y auto
	-webkit-overflow-scrolling touch
	z-index 9
	@media (max-width:760px)
		left (-($NAV_WIDTH))
		&.active
			transition left 0.3s
			left 0
	a
		color #999
		display block
		white-space normal
	.logo
		font-size 125%
		letter-spacing 0.1em
		padding 0.5em 0.8em
		// text-transform uppercase
		transition color 0.3s
		color #fff
		&:hover
			color #999
	ul
		margin 0
		padding 0
		border-top 1px solid #333
		ul
			text-indent 1em
		li
			list-style none
			&.selected
				> a, > a:hover
					background-color #1f8dd6
					color #fff
			a
				padding 0.625em 1em
				&:hover
					background-color #333