@import 'nib'
@import './constant'
body
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling touch
.mtop5
  margin-top 5px
.mtop10
  margin-top 10px
.mtop15
  margin-top 15px
.mleft5
  margin-left 5px
.mleft10
  margin-left 10px
.mleft15
  margin-left 15px
.font12
  font-size 12px
.text-center
  text-align center
