@import 'nib'
@import './constant'

headerContainerCss()
  background-color #fcfcfc
  border-bottom 1px solid #cbccce
  padding 10px 15px
  line-height 35px
  .functions
    li
      list-style none
      display inline-block
      margin 0 10px
      &.login a
        color #27c24c
      a
        color #717171
        font-size 13px
  .searchContainer
    width 300px
      
      

.homePage
  margin-left $NAV_WIDTH
  .headerContainer
    headerContainerCss()