@import 'nib'
@import './constant'
.navContainer
  width $NAV_WIDTH
  position fixed
  left 0
  top 0
  bottom 0
  background-color #252024
  ul
    margin 0
    padding 0
    li
      &:nth-child(1) a
        color #fff
      .glyphicons
        font-size 18px
        line-height 24px
        height 26px
        display block
    a
      display block
      padding 20px 0
      line-height 24px
      font-size 14px
      color #6e6d73
      transition background-color 0.5s
      text-decoration none
      &:hover
        background-color #201b1f
