body {
  visibility: hidden;
}
.homePage {
  margin-left: 70px;
}
.homePage .headerContainer {
  height: 50px;
  line-height: 50px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #cbccce;
}
.homePage .headerContainer .functions {
  line-height: 30px;
  margin-top: 10px;
}
.homePage .headerContainer .functions li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.homePage .headerContainer .functions li.login a {
  color: #27c24c;
}
.homePage .headerContainer .functions li a {
  color: #717171;
  font-size: 13px;
}
.homePage .headerContainer h3 {
  margin: 0;
  line-height: 50px;
}
