.navContainer {
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #252024;
}
.navContainer ul {
  margin: 0;
  padding: 0;
}
.navContainer ul li:nth-child(1) a {
  color: #fff;
}
.navContainer ul a {
  display: block;
  line-height: 60px;
  font-size: 14px;
  color: #6e6d73;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navContainer ul a:hover {
  background-color: #201b1f;
}
